<h1>All Kitty Cats</h1>
<% @cats.each do |cat| %>
	<p><a href='<%= cat_url(cat) %>'><%= cat.name %></a></p>
	<p>Owner: <%= cat.owner.fname %></p>
	<p>Home Address: <%= cat.home.address %></p>
<% end %>
<a href="<%= new_cat_url %>">New cat!</a>