<h1>All Humans</h1>
<% @humans.each do |human| %>
	<p><a href='<%= human_url(human) %>'><%= human.fname %> <%= human.lname %></a></p>
	<p>Home Address: <%= human.home.address %></p>
<% end %>
<a href="<%= new_human_url %>">New human!</a>